@font-face {
    font-family: 'iconfont';  /* Project id 3171001 */
    src: url('//at.alicdn.com/t/font_3171001_cjncw81zf8m.woff2?t=1644522744254') format('woff2'),
    url('//at.alicdn.com/t/font_3171001_cjncw81zf8m.woff?t=1644522744254') format('woff'),
    url('//at.alicdn.com/t/font_3171001_cjncw81zf8m.ttf?t=1644522744254') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
